.dashboard-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  .dashboard-item-indexName {
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: #747484;
    margin-right: 1rem;
  }
  .dashboard-item-indexValue {
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin-right: 0.5rem;
  }

  .dashboard-item-increment {
    font-style: normal;
    font-weight: normal;
    font-size: 0.8rem;
    line-height: 0.95rem;
    margin-right: 0.5rem;
  }
  .dashboard-item-incrementRatio {
    font-style: normal;
    font-weight: normal;
    font-size: 0.8rem;
    line-height: 0.95rem;
  }
}
