.page-wrap {
  height: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  .page {
    font-size: 1rem;
    cursor: pointer;
  }
  .selected {
    color: #ef6c35;
  }
  .page-splitter {
    border-right: 0.03rem solid black;
    height: 1.2rem;
    margin-left: 0.5em;
    margin-right: 0.5rem;
  }
}
