.single-stock-detail-page-contents {
  width: 100%;
  margin-top: 10rem;
  position: absolute;
  z-index: -1;
  .single-stock-detail-page-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    .bar-chart-row {
      margin-top: 2rem;
      margin-bottom: 4rem;
      width: 59rem;
      display: flex;
      justify-content: center;
    }
    .single-stock-detail-page-search-result {
      width: 59rem;
      margin-bottom: 2rem;
    }
  }
}
