.main-view {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 100%;
  .logo {
    margin-top: 4rem;
    margin-bottom: 1.4rem;
    .logo-image {
      width: 20rem;
      height: 6rem;
    }
  }
  .search-bar {
    display: flex;
    .bar {
      width: 34rem;
    }
    .button {
      height: 3rem;
      width: 3.5rem;
      background-color: rgba(239, 108, 53, 0.67);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.25rem;
      .button-image {
        width: 1rem;
        height: 1rem;
      }
    }
  }

  .top10-yield {
    height: 9rem;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    -ms-overflow-style: none;
    margin-bottom: 3rem;
  }

  .top10-yield::-webkit-scrollbar {
    display: none;
  }
}

.etf-contents {
  width: 100%;
  margin-top: 21.5rem;
  position: absolute;
  z-index: -1;
  .etf-contents-wrap {
    display: flex;
    justify-content: center;
  }
  .etf-summary-info-item-wrap {
    display: flex;
    justify-content: center;
  }
}
