.rect {
  width: 10rem;
  height: 95%;
  border: 1px solid grey;
  opacity: 0.8;
  display: flex;
  flex-direction: column;

  flex: 0 0 auto;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  .name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .incrementRatio {
    margin-top: 1rem;
    font-weight: bold;
  }

  .price-row {
    display: flex;
    margin-top: 0.5rem;
    justify-content: space-between;
    .price {
      color: red;
    }
    .increment {
      font-weight: bold;
      color: red;
    }
  }
}
