svg {
  background: #ffffff;
  overflow: visible;
  display: block;
  width: 100%;
  height: 45vh;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 100vh;
  padding: 0 50px;
}

.top10-yield {
  height: 8rem;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -ms-overflow-style: none;
  margin-bottom: 3rem;
}
.top10-yield::-webkit-scrollbar {
  display: none;
}
